* {
    background-color: rgb(8, 2, 8);
    color: rgb(77, 77, 109);
   font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* FORM */
#dataform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

/* INPUTS */
input {
    border: 1px solid rgb(94, 94, 116);
}

input:focus {
    outline: none;
}

/* Name inputs div */
.name_inputs {
    display: flex;
    gap: 1em;
    padding: 2em;
}

/* First Init */
#first_initial {
    width: 30%;
    padding: 2em;
}

/* Last Name */
#last_name {
    width: 70%;
    padding: 2em;
}

/* Pin Number */
#pin_num {
    padding: 2em 10em;
}

/* Submit Button */
button {
    padding: 1em;
    border: none;
    background-color: rgb(77, 77, 109);
    color: rgb(18, 3, 18);
    cursor: pointer;
}