* {
   background-color: rgb(8, 2, 8);
   color: rgb(211, 211, 219);
   font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* FORM */
#dataform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#dataform_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 2em;
}

/* Received Data */
#received_data {
    display: none;
}

/* Confirmed Data */
#confirm_data {
    font-size: 1.2rem;
}

/* Registered as */
.tites {
    font-size: 1.5rem;
    font-weight: bold;
}

/* The Credentials */
.creds {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INPUTS */
input {
    border: 1px solid rgb(211, 211, 219);
    padding: 1em;
}

input:focus {
    outline: none;
}

/* Name inputs div */
.name_inputs {
    display: flex;
    gap: 1em;
    padding: 2em;
}

/* First Init */
#first_initial {
    width: 30%;
    padding: 2em;
}

/* Last Name */
#last_name {
    width: 70%;
    padding: 2em;
}

/* Pin Number */
#pin_num {
    padding: 2em 10em;
}

/* Submit Button */
button {
    padding: 1em;
    border: none;
    background-color: rgb(211, 211, 219);
    color: rgb(18, 3, 18);
    cursor: pointer;
    font-weight: bold;
}

button.selected {
    padding: 1em;
    border: none;
    background-color: rgb(13, 13, 50);
    color: rgb(172, 77, 172);
    cursor: pointer;
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1em;
}

/* Client Type Buttons */
.type_client {
    padding: 1em;
    border: none;
    background-color: gray;
    color: rgb(18, 3, 18);
    cursor: pointer;
    border-radius: 5px;
}

/* Confirmation Page */

.yes_no {
    display: flex;
    gap: 1em;
}

.yes_no a {
    background-color: rgb(211, 211, 219);
    padding: 1em 2em;
    color: rgb(8, 2, 8);
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}